*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.block{
    height: 300px;
    width: 400px;
    background-color: rgb(220, 226, 226);
    margin: 10rem auto;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}
.container{
    height: 220px;
    width: 295px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10%;
    background-color: rgb(183, 189, 187);
}

input{
    width: 130px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: rgb(220, 226, 226);
}
button{
    width: 170px;
    height: 30px;
    margin-left:62px;
    border-radius: 5px;
    border: none;
    background-color: rgb(220, 226, 226);
}
::placeholder{
    padding: 25px;
}
